template(name="methodHome")
  .home-section.raised
    .h3 Methods
    .home-section-text Colloborate with medical professionals, epidemiologists, data scientists, and computer engineers to improve datasets, develop insights, and create models that predict the future of health care.
