template(name="publish")
  .container-fluid
    .row
      .col-md-12
        h1 Publish
          a(href="/", title="Odatacare Home")
            span.home-icon.pull-left

    .row
      .col-md-4

      .col-md-4
        h4 Publishing
          Publish your results on facebook, coming soon...

      .col-md-4
