template(name="searchDatasetForm")
  form(role="form")
    .form-group
      label(class="sr-only" for="datasetSearchTerms") Search
      input.form-control(type="text" id="datasetSearchTerms" placeholder="What are you looking for?")
